// COLORS
$color-primary: #0984e3;
$color-primary-light: #74b9ff;
$color-secondary-light: #81ecec;
$color-secondary: #00cec9;

$color-black: #2d3436;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100vw;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;
