// COLORS
$color-sorter: #a29bfe;
$color-sorter-current: #ff7675;
$color-sorter-sorted: #55efc4;
// $color-sorter-target: #f1c40f;
$color-sorter-target: #ffeaa7;

$color-button-primary: #e17055;
$color-button-secondary: #f0932b;
$color-button-disabled: #636e72;

$color-black: #2d3436;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100vw;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;
