.btn {
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    border-style: none;

    padding: 1rem 3rem;
    font-size: 1.6rem;
    width: 100%;
    height: calc(100% / 6);

    cursor: pointer;
    // border-radius: 10rem;

    background-color: $color-button-primary;
    color: white;

    transition: transform .2s;

    &:hover:not([disabled]) {
        background-color: darken($color-button-primary, 10%);
    }

    // &:active {
    //     transform: translateY(-.2rem);
    // }

    &--disabled {
        background-color: $color-button-disabled;
        cursor: not-allowed;
    }

    &:last-child {
        background-color: $color-button-secondary;
        &:hover:not([disabled]) {
            background-color: darken($color-button-secondary, 10%);
        }
        &.btn--disabled {
            background-color: $color-button-disabled;
            cursor: not-allowed;
        }
    }
}
