.sorter {
    // border: 1px solid red;
    margin: 0 auto;
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    backface-visibility: hidden;
}

.sortItem {
    background-color: $color-sorter;
    display: inline-block;
    border-radius: .1rem .1rem 0 0;
    margin: 0 .1rem;

    &-current {
        background-color: $color-sorter-current;
    }
    &-target {
        background-color: $color-sorter-target;
    }
    &-sorted {
        background-color: $color-sorter-sorted;
    }
}
