@keyframes pop {
    50% {
        transform: scale(1.05);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    100% {
        opacity: 1;
        transform: 0;
    }
}
